<%- include ('../partials/header'); %>
<h2>User Login</h2>
<a href="/register">Click to Register</a>
<form action="/login" method="post" id="auth-form">
  <div>
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="email" name="uname" required />
    <br />
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required />
    <br />
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>
</form>
<%- include ('../partials/footer'); %>
