        </main>
    </div>
        <footer class="footer">
        <p>© 2020 XP Blog</p>  
        </footer>
    </div>
    <script>
        document.querySelector('.menu-btn').addEventListener('click', () => 
        document.querySelector('.main-menu').classList.toggle('show'));

        $('.flash-close').click(()=> $('.flash').fadeOut())
    </script>
</body>
</html>

