<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XP BLog | Main Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" >
  
</head>
<body>
  <div class="menu-btn">
    <i class="fa fa-bars fa-2x"></i>
  </div>  
  <div class="container">
    <div class="wrapper">
      <nav class="main-nav">
        <a class="logo" href="/">XP Blog</a>
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
      
          <ul class="right-menu">
            <li>
              <a href="#"><i class="fas fa-user"></i></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-search"></i></a>
            </li>
          </ul>
      </nav>
    <main class="main">

