<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XP BLog | Main Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="menu-btn">
    <i class="fa fa-bars fa-2x"></i>
  </div>  
  <div class="container">
    <div class="wrapper">
      <nav class="main-nav">
        <a class="logo" href="/">XP Blog</a>
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/posts/?p=1">Posts</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
      
          <ul class="right-menu">
            <li>
              <% if(locals.user) { %> 
                <span><%= locals.user.name %> </span>
                <form action="/users/logout" method="post" id="logout" >
                <button type="submit">Logout</button>
                </form>
                <% }else{ %> 
              <a href="/users/login"><i class="fas fa-user"></i></i></a>
            </li>
            <%} %> 

            <li>
              <a href="#"><i class="fas fa-search"></i></a>
            </li>
          </ul>
      </nav>
    <main class="main">

      <% if(locals.flash) { %>
        <section class="flash">
          <h5 class="flash-msg"><%=flash.msg%></h5> 
          <button class="flash-close">
            <i class="fas fa-times-circle"></i>
          </button>
        </section>
      <%}%>