<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<wrapper>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <%- include('../partials/main'); %>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
</wrapper>
</body>
</html>