<%- include(`partials/header`) %>

<h1>Add post</h1>
<form action="/posts" method="post" id="post-form">
  Title :<input name="title" type="text" /> Content :<textarea
    name="content"
  ></textarea>
  <input type="submit" class="submit" />
</form>

<script>
  document.querySelector('#post-form').addEventListener(`submit`, () => {
    const title = document.querySelector('.title');
    const content = document.querySelector('.content');
    const submited = { title, content };
    const err = [];

    if (title.length < 4) err.push('title is too short');
    if (content.length < 4) err.push('content is too short');
  });
</script>

<%- include(`partials/footer`) %>
