<%- include('partials/header') %>
<h1>Posts</h1>
<article>
  <h2 class="post-header">Post 1 header on the blog</h2>
  <h5 class="post-author">Marko Napoli</h5>
  <h5 class="post-date">15 Dec 2020</h5>
  <p class="post-content">
    Select Surfaces are on sale now - save while supplies last,Select Surfaces
    are on sale now - save while supplies last
  </p>
</article>
<article>
  <h2 class="post-header">Post 1 header on the blog</h2>
  <h5 class="post-author">Marko Napoli</h5>
  <h5 class="post-date">15 Dec 2020</h5>
  <p class="post-content">
    Select Surfaces are on sale now - save while supplies last,Select Surfaces
    are on sale now - save while supplies last
  </p>
</article>
<article>
  <h2 class="post-header">Post 1 header on the blog</h2>
  <h5 class="post-author">Marko Napoli</h5>
  <h5 class="post-date">15 Dec 2020</h5>
  <p class="post-content">
    Select Surfaces are on sale now - save while supplies last,Select Surfaces
    are on sale now - save while supplies last
  </p>
</article>
<article>
  <h2 class="post-header">Post 1 header on the blog</h2>
  <h5 class="post-author">Marko Napoli</h5>
  <h5 class="post-date">15 Dec 2020</h5>
  <p class="post-content">
    Select Surfaces are on sale now - save while supplies last,Select Surfaces
    are on sale now - save while supplies last
  </p>
</article>
<%- include('partials/footer') %>
